body {
  background-color: #E8F6EF;
}


/* Header Content */
h1 {
  font-family: 'Dancing+Script';
}

p {
  font-family: 'Nunito';
  font-weight: bold;
}

.colored-section {
  margin-left: 200px;
  margin-right: 200px;
}


.container-one {
  text-align: center;
  margin: auto;

}

.image {
  opacity: 1;
  display: block;
  width: auto;

  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {

  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container-one:hover .image {
  opacity: 0.3;
}

.container-one:hover .middle {
  opacity: 1;
}

.text {
  /* background-color: #4CAF50; */
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}

/* Container second */

.container-fluid-two {
  background-color: #F38BA0;
  margin: auto;
  margin-top: 100px;
  height: 400px;
}

/* text and pricing class=row */
.pricing {
  margin-top: 55px;
  padding-left: 100px;

}

/* Image slideshow container two */
.image-wrapper {
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
  float: right;
  margin: 25px;
  margin-top: 50px;
  margin-left: 230px;
  box-sizing: border-box;
}

.image-wrapper img {
  width: 100%;
}

.image-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  float: left;
}

.image-wrapper ul li {
  display: inline-block;
  float: left;
  width: 25%;
  height: 100%;
  opacity: 0;
  -webkit-transition: 300ms;
  transition: 300ms;
}


.image-wrapper ul li:before {
  content: "";
  width: 0%;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: 0;
  margin-left: 12.5%;
  -webkit-transition: 300ms;
  transition: 300ms;
  z-index: 2;
}

.image-wrapper ul li:first-child {
  opacity: 1;
}

.image-wrapper ul li:hover {
  opacity: 1;
}

.image-wrapper ul li:hover:before {
  width: 25%;
  margin-left: 0%;
}

.image-wrapper ul li img {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  left: 0;
  pointer-events: none;
}

/* container fluid-three */
.container-fluid-three,
.container-fluid-four,
.container-fluid-five,
.container-fluid-six,
.container-fluid-seven,
.container-fluid-eight,
.container-fluid-nine,
.container-fluid-ten {
  /* background-color: #FFE3E3; */
  /* background-color: #F0E4D7; */
  background-color: #C0FEFC;
  /* background-color: #000; */
  margin: auto;
  margin-top: 100px;
  height: 400px;

}

/* Page footer */
.page-footer {
  margin-top: 10px;
}


/* Footer */
.page-footer {
  color: white;
  padding-top: 70px;
  padding-bottom: 70px;
  ;
}

.contact-icon {
  text-align: center;
}

.download-button-1 {
  width: 40%;
}

.download-button-2 {
  margin-left: 550px;
  width: 50%;
}

.copyright {
  text-align: center;
  margin-top: 15px;
  color: #000;
}