body{
  background:linear-gradient(120deg,#565656,#D7CEC7);
  padding:0;
  margin:0;
  height:100vh;
}

.div1{
  position:absolute;
  top:49.8%;
  left:50%;
  width:400px;
  height:500px;
  background:white;
  transform: translateY(-50%);
  /* border-radius: 10%; */
}

.avatar{
  position:relative;
  height:30%;
  width:30%;
  border-radius: 50%;
  transform: translateY(-20%);
  left:35%;
}

h1{
  text-align:center;
  padding:0 0 20px -0;
  border-bottom: 1px solid silver;
  margin-top: 20px;
  transform: translateY(-20%);
}

form{
  padding: 0 40px;
  box-sizing: border-box;
}

.text-input{
  position:relative;
  border-bottom: 2px solid black;
  margin: 25px 0;
}

input{
  width:100%;
  padding: 0 5px;
  height: 30px;
  font-size: 1rem;
  border:none;
  background: none;
  outline: none;
}

label{
  position:absolute;
  top:50%;
  left:5px;
  color:#adadad;
  transform:translateY(-50%);
  font-size:1rem;
  pointer-events: none;
}

button{
  position:relative;
  left:25%;
}

.img-div{
  position:absolute;
  height:500px;
  width: 400px;
  top:22.8%;
  left:47%;
  transform: translateX(-85.5%);
  background: white;
  /* padding-left: 50px; */
}

.Img1{
  height:500px;
  width:400px;
  object-fit: cover;
}

.sign-up{
  text-align: center;
  margin-top:15px;
}
